/*
#FFC300 yellow
#2e4053 light slate
#34495e slate
#FF5733 orange
#C70039 red
*/

.container {
margin-top:80px;

background-color: #C8C8C8;
width = 800px;
height = 800px;
font-family: "Futura", 'questrial', "Century Gothic", "Century New Gothic", Litera, "Geometric 706 Std Complete", "Twentieth Century 1", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; /*geometric fonts, fall back to best helvetica, then sans-serif */
text-decoration: none;
color: black;
font-weight: 300;
font-size: 14pt;

}

.input-group {
        width:50%;
        float:none;
        margin:0 auto;
}


